<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.victor.iotgateapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.victor.iotgateapp.IOTGateApp"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.victor.iot.GatewayService" >
            <intent-filter>
                <action android:name="com.victor.iot.GATEWAY" />
            </intent-filter>
        </service>

        <receiver android:name="com.victor.iotgateapp.NewNodeReceiver" >
            <intent-filter>
                <action android:name="com.victor.iot.NEWNODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.victor.iotgateapp.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.victor.iotgateapp.NodeActivity"
            android:label="@string/title_activity_node" >
        </activity>
        <activity
            android:name="com.victor.iotgateapp.EndpointActivity"
            android:label="@string/title_activity_endpoint" >
        </activity>
    </application>

</manifest>